In [6]:
import pandas as pd

In [10]:
df = pd.read_table(r'C:\Users\kariyya\Documents\GitHub\EastWatch1\BS_stats.csv', delimiter=",")

In [14]:
df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1.0,2017-10-18,21-090,PHI,@,WAS,L (-5),1,34:40,...,7,10,5,2,1,1,3,18,18.4,+3
1,2,2.0,2017-10-20,21-092,PHI,NaN,BOS,L (-10),1,36:54,...,8,11,5,1,0,4,2,11,7.9,-7
2,3,3.0,2017-10-21,21-093,PHI,@,TOR,L (-34),1,33:23,...,9,10,8,0,0,3,0,18,14.0,-20
3,4,4.0,2017-10-23,21-095,PHI,@,DET,W (+11),1,33:36,...,10,12,10,1,0,4,2,21,23.7,+12
4,5,5.0,2017-10-25,21-097,PHI,NaN,HOU,L (-1),1,34:04,...,5,7,9,3,1,4,2,14,12.2,-13